@using PagedList
@using PagedList.Mvc
@using System.Text;

@model Outsourcing.MVC.Areas.Administrator.Models.AccountViewModel

<table class="table table-bordered table-striped table-hover table-heading table-datatable" style="width: 100%;">
    <thead>
        <tr>
            @*<th>
                    @Html.ActionLink("RoleName", "Index", new { sortOrder = ViewBag.RoleNameParm, currentFilter = ViewBag.CurrentFilter })
                </th>*@
            <th>帐户名</th>
            <th>帐户密码</th>
            <th>帐户姓名</th>
            <th>帐户Email</th>
            <th>帐户居住地</th>
            <th>关联的角色</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{if (Model != null && Model.Accounts.Count > 0)
            {
                foreach (var item in Model.Accounts)
                {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.AccountID)
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RealName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    @{
                        //查找用户关联的角色
                        //var roles = from r in Model.Roles
                        //            join ar in Model.AccountRole_Rs
                        //            on new { r.RoleID, item.AccountID } equals new { ar.RoleID, ar.AccountID }
                        //            //.Where(r => a.AccountID == item.AccountID);
                        //            select r;
                        if (item.Role.Count != 0)
                        {
                            var roles = item.Role;
                            if (roles != null && roles.Count() > 0)
                            {
                                StringBuilder rolename = new StringBuilder();
                                foreach (var role in roles)
                                {
                                    rolename.AppendFormat("{0},", role.RoleName);

                                }
                                string finalRoleName = rolename.Remove(rolename.Length - 1, 1).ToString();
                    <td>
                        @Html.DisplayFor(modelItem => finalRoleName)
                    </td>
                            }
                        }
                        else
                        {
                    <td></td>
                        }

                    }
                    <td>
                        <a id="btnEdit" onclick="LoadAjaxContent('Administrator/Account/Edit/@item.AccountID?pageIndex=@Model.Accounts.PageNumber&SearchString=@HttpUtility.UrlEncodeUnicode(ViewBag.CurrentFilter)')" href="#">编辑</a>|
                        <a id="btnDetails" onclick="LoadAjaxContent('Administrator/Account/Details/@item.AccountID?pageIndex=@Model.Accounts.PageNumber&SearchString=@HttpUtility.UrlEncodeUnicode(ViewBag.CurrentFilter)')" href="#">详情</a>|
                        <a id="btnDelete" onclick="del(this,@item.AccountID);" href="#">删除</a>
                    </td>
                </tr>
                                }
                            }
                            else
                            {
            <tr><td colspan="3" style="text-align:center;">未查询到任何记录</td></tr>
                            }
                        }
    </tbody>
</table>
<br />
<div>

    @*<script src="~/Scripts/mvcpager.js"></script>*@
    <div id="pagerlist" style="float:left;width:50%">
        共 @Model.Accounts.PageCount 页 @Model.Accounts.TotalItemCount 条记录，当前为第 @Model.Accounts.PageNumber 页
    </div>
    @*PagedList分页，不带ajax支持*@
    @Html.PagedListPager((IPagedList)Model.Accounts, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, AccountName = ViewBag.CurrentFilter }))
    @*mvcpager分页，带ajax支持*@
    @*@Ajax.Pager(Model.StaffMembers, new PagerOptions
        {
            PageIndexParameterName = "page",
            ShowPageIndexBox = true,
            PageIndexBoxType = PageIndexBoxType.DropDownList,
            ShowGoButton = false,
            ShowNumericPagerItems = true,

        },
        new MvcAjaxOptions
        {
            UpdateTargetId = "datalist",
            HttpMethod = "Post",
            DataFormId = "searchForm",
            EnablePartialLoading = true,
            Url = "OA/AttendanceMonthStatistical/Index"
        }, new { style = "float:right" })*@
</div>
@*@section Scripts{@{Html.RegisterMvcPagerScriptResource();}}*@
<script type="text/javascript">
    $(document).ready(function () { replacePageUrl() });
    //替换分页控件生成的链接-pagedlist
    function replacePageUrl() {

        //debugger;
        //var alist = $('#datalist a');
        //alist.innerHtml = "";
        //var divlist = $('div#pagerleft').next();
        //if (divlist) {
        //debugger;
        var alist = $('#datalist a');
        if (alist) {
            alist.each(function (index, element) {
                //debugger;
                //alert(index);
                //if (index >= 6) {
                if ($(this).attr("href") != undefined && $(this).attr("href") != "#") {
                    //debugger;
                    //var splitUrl = element.href.split('/')
                    var splitUrl = element.href.split('?');
                    //var newhref = "LoadAjaxContent('" + splitUrl[3] + splitUrl[4] + "')";
                    $(this).bind("click", function () {
                        LoadAjaxContent('Administrator/Account/Index?' + splitUrl[1]);
                    });
                    //$(this).on("click", function () {
                    //    LoadAjaxContent('OA/AttendanceMonthStatistical/Index?page=2');
                    //});
                    $(this).attr("href", "#");
                }

                //}
            });
        }
        //}
    }


</script>