@model List<Outsourcing.EF.Model.Recruit.RequiredModel>
@{
    Layout = null;
}

<style type="text/css">
    #td_required {
        width: 70%;
      
        margin-left: 40px;
    }

        #td_required thead tr {
            height: 50px;
            font-size: 18px;
            font-weight: bolder;
            font-family: 黑体,隶书;
        }

        #td_required thead td {
            border: none;
            text-align: center;
        }

        #td_required tbody tr {
            height: 50px;
            font-size: 12px;
            color: black;
        }

            #td_required tbody tr:hover {
                height: 50px;
                font-size: 16px;
                color: red;
                cursor: pointer;
            }

            #td_required tbody tr td {
                border: none;
                text-align: center;
            }

    #marqueetr td {
        width: 40px;
        word-wrap: break-word;
        word-break: break-all;
        font-size: 14px;
    }

    #Customer {
        width: 1190px;
        margin: 0 auto;
        height: 500px;
    }

    #Service {
        width: 33.3%;
        float: left;
    }

    #Company {
        width: 66.7%;
        float: right;
    }

    #Companythead tr td {
        font-size: 20px;
    }

    #Star {
        width: 60%;
        float: left;
    }

    #Points {
        width: 40%;
        float: right;
    }
      * {
            padding: 0;
            margin: 0;
        }

        table {
            position: relative;
        }

        th, td {
           
            height: 50px;
            border: 1px solid #ccc;
            text-align: center;
            box-sizing: border-box;
            transition: all 0.5s;
        }

        th {
            margin-bottom:50px;
            background: #ccc;
            position: relative;
            z-index: 999;
        }

        tbody tr {
        }

       

       
</style>
<div id="Customer">
    <div id="Service">
        <div id="Star">
            <h2>明星服务单位</h2>
            <ul>
                <li></li>
            </ul>
        </div>
        <div id="Points">
            <h2>评分</h2>
            <ul></ul>
        </div>
    </div>
    <div id="Company">
      

        <div id="div" style="height:400px; overflow:hidden"> 
            <table id="td_required" style="width:100%;">
                <thead>
                    <tr style="top:100px;">
                        <th style="width:7%">公司</th>
                        <th style="width:12%">项目名称</th>
                        <th style="width:10%;">职位</th>
                        <th style="width:12%;">学历要求</th>
                        <th style="width:12%;">招聘人数</th>
                        <th style="width:15%;">发布时间 </th>
                        <th style="width:20%;">到岗时间</th>
                    </tr>
                </thead>
                <tbody class="tbody" style="z-index:1;  top:50px; position:absolute; ">
                    @{
                      
                        foreach (var item in Model)
                        {
                            <tr id="marqueetr" attr="@item.RequirementId">
                                <td style="border:none; width:7% ">
                                    @item.CompnayId
                                </td>
                                <td style="border:none; width:12% ">
                                    @item.ProjectName
                                </td>
                                <td style="border:none; width:10%;">
                                    @item.JobName
                                </td>
                                <td style="border:none; width:12%;">
                                    @item.EducationName
                                </td>
                                <td style="border:none; width:12%;">
                                    @item.RecNumber
                                </td>
                                <td style="border:none; width:15%;">
                                    @item.PublishTime
                                </td>
                                <td style="border:none; width:20%;">
                                    @item.ArrivalTime
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
       
    </div>
</div>
</div>

 
@*<script type="text/javascript">
        var demo = document.getElementById("requirediv");
        var demo1 = document.getElementById("td_requiredv");
        var demo2 = document.getElementById("copyRequire");
        var speed = 20;    //数值越大滚动速度越慢
        demo2.innerHTML = demo1.innerHTML;

        //demo.scrollTop = demo.scrollHeight + 'px';

        function Marquee() {
            if (demo2.offsetTop - demo.scrollTop <= 0)    //当滚动至demo1与demo2交界时
                demo.scrollTop -= demo1.offsetHeight    //demo跳到最顶端
            else {
                demo.scrollTop++
            }
        }

        var MyMar = setInterval(Marquee, speed);
        demo.onmouseover = function () { clearInterval(MyMar) }
        demo.onmouseout = function () { MyMar = setInterval(Marquee, speed) }
    </script>*@

<script type="text/javascript">
    $("#td_required tr").not("#td_required tr:first").click(function () {
        var id = $(this).attr("attr");
        window.location.href = "/Recruit/RecruitHome/RequireInfo?id=" + id + "&loginid=@ViewBag.LoginID";
    });

    //滚动数据js脚本
    
    // body对象
  
    var tBody = document.getElementsByClassName('tbody')[0];    //
    // body 下的 tr
   
    var aTr = tBody.getElementsByTagName('tr');

    
    var bH = tBody.offsetHeight;    // body的高
    var rH = aTr[0].offsetHeight;   // tr的高

    // 克隆 body
    var newBody = tBody.cloneNode(true);    // 创建 new body
    newBody.style.top = (bH + rH) + 'px';  // new body 的top
    tBody.parentNode.appendChild(newBody);  // 插入 new body
    

    var iBody = document.getElementsByClassName('tbody');

    for (var i = 0; i < iBody.length; i++) {
        iBody[i].onmouseover = function () {
            clearInterval(times1);
            clearInterval(times2);
            clearInterval(times3);
        };
        iBody[i].onmouseout = function () {
            autoUp(time1, time2);
            upRoll();
        };

    }

    var times1;
    var times2;
    var times3;
    var time1 = 2000,
        time2 = 800;


    upRoll();
    function upRoll() {
        clearInterval(times1);

        times1 = setInterval(function () {
            for (var i = 0; i < iBody.length; i++) {
                iBody[i].style.top = iBody[i].offsetTop - 1 + "px";

                if (iBody[i].offsetTop <= -rH * (aTr.length - 1)) {
                    iBody[i].style.top = (bH + rH) + 'px';
                }
            }

        }, 30);

    }


    autoUp(time1, time2);
    function autoUp(t1, t2) {
        times2 = setInterval(function () {
            clearInterval(times1);
            console.log('停止状态');

            times3 = setTimeout(function () {
                upRoll();
                console.log('开始状态');
            }, t2);

        }, t1);

    }



  
</script>

