@using PagedList
@using PagedList.Mvc
@using System.Text;
@model PagedList<Outsourcing.EF.ContractManagement>

<table class="table table-bordered table-striped table-hover table-heading table-datatable" style="width: 100%;">
    <thead>
        <tr>
            @*<th>
                    @Html.ActionLink("RoleName", "Index", new { sortOrder = ViewBag.RoleNameParm, currentFilter = ViewBag.CurrentFilter })
                </th>*@
            <th>合同编号</th>
            <th>合同名称</th>
            <th>公司名称</th>
            <th>用户类型</th>
            <th>合同类型</th>            
            <th>状态</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.ID)
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContractName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContractPartner)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.PartnerType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContractTypes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContractStatus)
                        </td>
                        <td>
                            @*<a id="btnEdit" onclick="ViewEdit(this,'@item.ID','?pageIndex=@Model.PageNumber&SearchString=@HttpUtility.UrlEncodeUnicode(ViewBag.CurrentFilter)')" href="#">编辑</a>|*@
                            <a id="btnDown"  href="#">下载</a>|
                            @*<a id="btnDetails" onclick="LoadAjaxContent(FinancialManagement/Financial/Details/@item.ID)" href="#">详情</a>|*@
                            <a id="btnDetails" onclick="ViewDetail(this, '@item.ID','?pageIndex=@Model.PageNumber&SearchString=@HttpUtility.UrlEncodeUnicode(ViewBag.CurrentFilter)');" href="#">详情</a>|
                            <a id="btnDelete" onclick="del(this,'@item.ID','?pageIndex=@Model.PageNumber&SearchString=@HttpUtility.UrlEncodeUnicode(ViewBag.CurrentFilter)');" href="#">删除</a>
                        </td>
                    </tr>

                }
            }
            else
            {
                   <tr>
                      <td colspan="7" style="text-align:center;">未查询到任何记录</td>
                   </tr>

            }
        }
    </tbody>
</table>
<br />
<div>

    @*<script src="~/Scripts/mvcpager.js"></script>*@
    <div id="pagerlist" style="float:left;width:50%">
        共 @Model.PageCount 页 @Model.TotalItemCount 条记录，当前为第 @Model.PageNumber 页
    </div>
    @*PagedList分页，不带ajax支持*@
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, AttachmentName = (ViewBag.CurrentFilter != null ? ViewBag.CurrentFilter : string.Empty) }))
    @*mvcpager分页，带ajax支持*@
    @*@Ajax.Pager(Model.StaffMembers, new PagerOptions
        {
            PageIndexParameterName = "page",
            ShowPageIndexBox = true,
            PageIndexBoxType = PageIndexBoxType.DropDownList,
            ShowGoButton = false,
            ShowNumericPagerItems = true,

        },
        new MvcAjaxOptions
        {
            UpdateTargetId = "datalist",
            HttpMethod = "Post",
            DataFormId = "searchForm",
            EnablePartialLoading = true,
            Url = "OA/AttendanceMonthStatistical/Index"
        }, new { style = "float:right" })*@
</div>
@*@section Scripts{@{Html.RegisterMvcPagerScriptResource();}}*@
<script type="text/javascript">
    $(document).ready(function () { replacePageUrl() });
    //替换分页控件生成的链接-pagedlist
    function replacePageUrl() {

        //debugger;
        //var alist = $('#datalist a');
        //alist.innerHtml = "";
        //var divlist = $('div#pagerleft').next();
        //if (divlist) {
        //debugger;
        var alist = $('#datalist a');
        if (alist) {
            alist.each(function (index, element) {
                //debugger;
                //alert(index);
                //if (index >= 6) {
                if ($(this).attr("href") != undefined && $(this).attr("href") != "#") {
                    //debugger;
                    //var splitUrl = element.href.split('/')
                    var splitUrl = element.href.split('?');
                    //var newhref = "LoadAjaxContent('" + splitUrl[3] + splitUrl[4] + "')";
                    $(this).bind("click", function () {
                        LoadAjaxContent('ContractManagement/ContractManagement/Index?' + splitUrl[1]);
                    });
                    //$(this).on("click", function () {
                    //    LoadAjaxContent('OA/AttendanceMonthStatistical/Index?page=2');
                    //});
                    $(this).attr("href", "#");
                }

                //}
            });
        }
        //}
    }

    function ViewDetail(obj,id,strQuery)
    {
        var url = 'ContractManagement/ContractManagement/Details/' + id + strQuery;
        //window.alert(url);
        LoadAjaxContent(url);
    }

    function ViewEdit(obj, id, strQuery) {
        var url = 'ContractManagement/ContractManagement/Edit/' + id + strQuery;
       // window.alert(url);
        LoadAjaxContent(url);
    }
</script>