@using PagedList
@using PagedList.Mvc
@using System.Text;
@model PagedList<Outsourcing.EF.PersonalInfo>

<table class="table table-bordered table-striped table-hover table-heading table-datatable" style="width: 100%;">
    <thead>
        <tr>
            @*<th>
                    @Html.ActionLink("RoleName", "Index", new { sortOrder = ViewBag.RoleNameParm, currentFilter = ViewBag.CurrentFilter })
                </th>*@
            <th>姓名</th>
            <th width="5%">性别</th>
            <th width="9%">生日</th>
            <th width="10%">联系电话</th>
            <th width="9%">学历</th>
            <th width="9%">技术服务</th>
            <th width="9%">所属公司</th>
            <th width="9%">人才状态</th>
            <th width="9%">创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @{if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.PersonalInfoId)
                        @Html.DisplayFor(modelItem => item.PersonName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sex)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Education)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.OutsourcingCompany.CompnayName)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publications)
                    </td>
                    <td>
                        @{string peoStatue = item.PeopleStatue == 1 ? "未入职" : "已入职";}
                        @Html.DisplayFor(modelItem => peoStatue)
                    </td>
                    <td>
                        @{
                            string date = item.CreateTime.Value.ToString("yyyy-MM-dd");
                        }

                        @Html.DisplayFor(modelItem => date)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                操作<span class="caret"></span>&nbsp;|&nbsp;
                            </a>
                            <ul class="dropdown-menu" role="menu" style="min-width:80px;">
                                <li>
                                    <a id="btnDetails" onclick="LoadAjaxContent('Professional/Professionals/Details/@item.PersonalInfoId?pageIndex=@Model.PageNumber&SearchString=@HttpUtility.UrlEncodeUnicode(ViewBag.CurrentFilter)')" href="#">详情</a>
                                </li>
                                <li>
                                    <a id="btnDelete" onclick="del(this,@item.PersonalInfoId);" href="#">删除</a>
                                </li>
                                <li><a href="#">编辑</a></li>
                                <li><a href="#">下载</a></li>
                            </ul>
                         </div>                            
                        @{ 
                            if (item.PeopleStatue == 0)
                            {
                                <div class="btn-group">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        考勤 <span class="caret"></span>&nbsp;| &nbsp;
                                    </a>
                                    <ul class="dropdown-menu" role="menu" style="min-width:80px;">
                                        <li><a href="#">工资生成</a></li>
                                    </ul>
                                </div>

                            }
                            else
                            {
                                <div class="btn-group">
                                    <a id="TalentPush" onclick="PushTalent('@HttpUtility.UrlEncode(item.Publications)',@item.PersonalInfoId)" href="#">简历推送</a>
                                </div>
                             }
                            } 
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="3" style="text-align:center;">未查询到任何记录</td></tr>
        }
        }
    </tbody>
</table>
<br />
<div>
    @*<script src="~/Scripts/mvcpager.js"></script>*@
    <div id="pagerlist" style="float:left;width:50%">
        共 @Model.PageCount 页 @Model.TotalItemCount 条记录，当前为第 @Model.PageNumber 页
    </div>
    @*PagedList分页，不带ajax支持*@
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, personname = (ViewBag.CurrentFilter != null ? ViewBag.CurrentFilter : string.Empty) }))
    @*mvcpager分页，带ajax支持*@
    @*@Ajax.Pager(Model.StaffMembers, new PagerOptions
        {
            PageIndexParameterName = "page",
            ShowPageIndexBox = true,
            PageIndexBoxType = PageIndexBoxType.DropDownList,
            ShowGoButton = false,
            ShowNumericPagerItems = true,

        },
        new MvcAjaxOptions
        {
            UpdateTargetId = "datalist",
            HttpMethod = "Post",
            DataFormId = "searchForm",
            EnablePartialLoading = true,
            Url = "OA/AttendanceMonthStatistical/Index"
        }, new { style = "float:right" })*@
</div>
<script type="text/javascript">
    $(document).ready(function () { replacePageUrl() });
    //替换分页控件生成的链接-pagedlist
    function replacePageUrl() {

        //debugger;
        //var alist = $('#datalist a');
        //alist.innerHtml = "";
        //var divlist = $('div#pagerleft').next();
        //if (divlist) {
        //debugger;
        var alist = $('#datalist a');
        if (alist) {
            alist.each(function (index, element) {
                //debugger;
                //alert(index);
                //if (index >= 6) {
                if ($(this).attr("href") != undefined && $(this).attr("href") != "#") {
                    //debugger;
                    //var splitUrl = element.href.split('/')
                    var splitUrl = element.href.split('?');
                    //var newhref = "LoadAjaxContent('" + splitUrl[3] + splitUrl[4] + "')";
                    $(this).bind("click", function () {
                        LoadAjaxContent('Professional/Professionals/Index?' + splitUrl[1]);
                    });
                    //$(this).on("click", function () {
                    //    LoadAjaxContent('OA/AttendanceMonthStatistical/Index?page=2');
                    //});
                    $(this).attr("href", "#");
                }

                //}
            });
        }
        //}
    }

    //推送人才
    function PushTalent(jobName,pid)
    {
        //alert("TalentPush/TalentPush/Index?JobName=" + jobName + "&pid=" + pid);
        LoadAjaxContent("TalentPush/TalentPush/Index?JobName="+jobName+"&pid="+pid);
    }

</script>